body{
    background: rgb(236, 213, 213);
    margin:0;
}
.cabecera{
    background: rgb(184, 157, 157);
	color: white;
	height: 50px;
}
#root {
    text-align: center;
}

body {
    font-family: Verdana;
}

.botones {
    width: 150px;
    margin: 0 auto;
}

.form-position button {
    padding: .5em 1em;
    border:none;
    background: rgb(100,200,255);
    cursor: pointer;
}
.form button {
    margin: 1%;
    padding: .5em 1em;
    border:none;
    background: rgb(100,200,255);
    cursor: pointer;
}
.form input{
    margin: 1%;
    padding: .5em 1em;
    border:none;
    background: rgb(100,200,255);
    cursor: pointer;
}